<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="css/output.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/insurance.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>

<body>
    <nav class="flex items-center justify-between h-[80px]"
        style=" background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);">
        <a class=" flex header-logo item-center justify-center ml-3" href="/home">
            <h1 class="text-3xl font-bold text-[white] cursor-pointer">INVEST IQ </h1> <i
                class="fa-solid fa-magnifying-glass-chart text-3xl ml-1 mt-1.5 text-[white]"></i>
        </a>

        <a class="profile flex flex-col items-center text-[white] "href="/profile/<%= userId %>">>>
            <i class="fa-solid fa-user text-3xl text-[white] mr-3 cursor-pointer"></i>
            <h1 class="profile text-xl mr-1.5">Profile</h1>
        </a>
    </nav>
    <%- include('../includes/flash.ejs') %>
    <div class="main-page flex flex-col items-center justify-center p-3">

        <div class="search-component border rounded w-[90%] max-w-lg flex items-center justify-between mb-10">
            <input type="text" placeholder="Enter insurance name here"
                class="flex-[1] focus:outline-[0] border-[none] p-3 insurance-input">
            <button class="rounded-r-xs bg-yellow-500 p-3 cursor-pointer insurance-info-btn" type="submit"
                title="stock-info-btn">
                Search
            </button>
        </div>
        <div class="search-result-container-insurance w-full flex flex-col items-center justify-center gap-[20px]">
            <h1 class="text-2xl font-bold">Suggestions</h1>
        </div>
    </div>
    <script src="/js/insurance.js"></script>
</body>

</html>